.ant-layout-footer{
    background-color: #001529;
    padding-top: 0px;
    padding-bottom: 0px;
}
.Footer{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 9px;
    margin-top: 9px;
    background-color: #fff
}
